<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Novo Catálogo</title>
</head>
<body>
    <h1>Novo Catálogo</h1>
    <form action="/adicionarCatalogo" method="POST">
        <label for="titulo">Título:</label>
        <input type="text" id="titulo" name="titulo" required>
        <br>
        <label for="anoDeLancamento">Ano de Lançamento:</label>
        <input type="text" id="anoDeLancamento" name="anoDeLancamento" required>
        <br>
        <button type="submit">Adicionar</button>
    </form>
    <a href="/">Voltar ao Catálogo</a>
</body>
</html>