<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Novo Artista</title>
</head>
<body>
    <h1>Novo Artista</h1>
    <form action="/adicionarArtista" method="POST">
        <label for="nome">Título:</label>
        <input type="text" id="nome" name="nome" required>
        <br>
        <button type="submit">Adicionar</button>
    </form>
    <a href="/">Voltar ao Catálogo</a>
</body>
</html>