<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title><%= album.titulo %></title>
</head>
<body>
    <h1><%= album.titulo %></h1>
    <p>Ano de Lançamento: <%= album.anoDeLancamento %></p>
    <br>
    <img src="<%= album.capa %>">
    <a href="/">Voltar ao Catálogo</a>
</body>
</html>