<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Catálogo Musical</title>
</head>
<body>
    <h1>Catálogo Musical</h1>
    <ul>
        <% albuns.forEach(function(album) { %>
            <li>
                <a href="/album/<%= album.id %>"><%= album.titulo %></a> - <%= album.anoDeLancamento %>
                <br>
                <ul>
            </li>
        <% }); %>
    </ul>
    <a href="/artistas">Ver Artistas</a>
    <br>
    <a href="/adicionarAlbum">Adicionar Álbum</a>

</body>
</html>